<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>장바구니 | KOREA STORE</title>
    <link rel="stylesheet" href="../../static/css/main/styles.css">
</head>
<body>
<main layout:fragment="main">

    <h1>StyleSnap</h1>
    <div class="button-container">
        <a href="/styles"><div class="tab" id="order-select-button">시작하기</div ></a>
        <a href="/styles-store"><div class="tab" id="order-all-button">스토어 상품으로</div></a>
        <a href="/styles-my"><div class="tab" id="">내 옷장으로</div></a>
    </div>
    <hr>


</main>
</body>
</html>










