<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>STYLECODI</title>
    <link rel="stylesheet" href="../../static/css/main/styles.css">
</head>
<body>
<main layout:fragment="main">
    <section class="styles-section">
        <h1>StyleSnap</h1>
        <div class="button-container">
            <a href="/styles"><div class="tab" id="order-select-button">시작하기</div ></a>
            <a href="/styles-map"><div class="tab" id="">스타일 맵 만들기</div></a>
            <a href="/styles-store"><div class="tab" id="order-all-button">스토어 상품으로</div></a>
        </div>
        <hr>
    </section>

</main>
</body>
</html>










